.clients {
   display: flex;
   flex-direction: column;
   align-items: center;
   border-bottom: 1px;
   border-style: solid;
}

.clients h1{
    font-size: 30px;
    font-weight: bold;

}
.clients h2 {
    margin-left: 0px;
}

.clients h3 {
    border: 1px;
    border-style: solid;
    max-width: 60%;

}
