.body {
    background: rgb(76, 78, 158);
}
.body > div {
    width: 85%;
    background: rgb(255, 255, 255);
    margin: 0 auto;

    height: 100%;
    position: relative;

}
.body > input, option {
    border-style: solid;
}
@media (max-width: 699px) {
    .body > div {
        min-height: 700px;
    }
}
@media (min-width: 700px) {
    .body > div {
        min-height: 1000px;
    }
}