.register {
    background: white;
    width: 300px;
    /* background: red; */
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 40px;
}

.register h1 {
    font-size: 6vh;
}

.register h1,
.register h3 {
    margin-left: 20px
}

.register input,
h1,
h3 {
    margin: 10px;

}

.register>input {
    box-shadow: 0 8px 6px -10px;
    font-size: 12pt;
}

#register-password,
.register>input[type=text] {
    height: 60px;
    border-radius: 3px;
    padding: 10px;
}



.register input[type="submit"] {
    width: 200px;
    height: 40px;
    border: none;
    border-color: tomato;
    background-color: tomato;
    color: white;
    margin-left: 30px;
}

.register input[type="submit"]:hover {
    cursor: pointer;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.65);
}