header {
    background: black;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding: 10px;
}

.logo {
    color: white;
    text-decoration: none;  
    font-size: 50px;
}
nav {
    display: flex;
    align-items: center;
}

.hamburger {
    display: none;
}

.red {
    background: red
}

header ol {
    display: flex;
    flex-direction: row;
    font-size: 20pt;
}
header li {
    margin-right: 10px;
}


@media(max-width: 700px){
    header {
        display: block;
        text-align: center;
        padding:10px;
    }
    header ol {
        display: flex;
        flex-direction: column;
    }
    nav {
        justify-content: center
    }
    .hamburger {
        display: block;
    }
    
}