header {
    background: black;
    height: 100%;
    padding: 30px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.bar {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}