.landing {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 700px){
    .landing {
        flex-direction: column-reverse
    }
    .landing-welcome{ 
        display: none;
    }
}